{% extends "base.html" %}
{% block title %}{{ SITENAME }} : {{ article.title }}{% endblock %}

{% block content %}



  <div class="row row-cols-1 mb-4 mt-0">
    <div class="col">

        <div class="panel-header back mb-4">
          <h2><a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h2>
            {% if not HIDE_DATE and category == "weblog" %}
            <time datetime=s"{{ article.date.isoformat() }}">{{ article.locale_date }}</time><br />
            {% endif %}
        <a href="{{ SITEURL }}/index.html">Return to Launch Page</a>
        </div>
        <div class="panel-body p-3">
          {{ article.content }}
        </div>

    </div>
  </div>

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <div class="row row-cols-1 mb-4">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2>Comments</h2>
          </div>
          <div class="card-body">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = '{{ DISQUS_SITENAME }}';
              var disqus_identifier = '{{ article.url }}';
              var disqus_url = '{{ SITEURL }}/{{ article.url }}';
                (function() {
                  var dsq = document.createElement('script');
                  dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] ||
                  document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
              <noscript>Please enable JavaScript to view the comments.</noscript>
            </div>
        </div>
      </div>
    </div>
{% endif %}


{% endblock %}
